/*
* @Author: Ayush Petigara, Charlie Gallentine
* @Date:   2018-07-25 21:30:26
* @Last Modified by:  Ayush Petigara
* @Last Modified time: 2018-09-20 08:58:11
*/

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar-custom {
  font-family: "Access Regular";
  background-color: #e0e1e2;
}

.nav-item {
  margin: 0 1rem 0 1rem;
  font-size: 1.2rem;
}

.underline-blue {
  display:block;
	border-bottom:3px solid blue;
	width: 100%;
	padding-bottom: 4px;
}

.reg {
  color:black;
}
.reg:hover{
  text-decoration: none;
  color: black;
}

.mentor {
  color:black;
}
.mentor:hover {
  text-decoration: none;
  color: black;
}

.underline-red {
  display:block;
	border-bottom:3px solid red;
	width: 100%;
	padding-bottom: 4px;
}

  .primary {
    margin-top: 6em;
  }
  .secondary {
    margin-left: 3.4em;
  }
  .logo {
    height: 185px;
    width: auto
  }
  .content {
    font-family: "Access Regular";
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.2rem;
  }
  .link-reg {
    margin-top: 2.5em;
    display: inline-block;
  }

  .link-mentor {
    margin-top: .5em;
    display: inline-block;
  }

  #faqs {
  font-family: "Access Regular";
  color: black;
  padding-bottom: 4em;
  padding-top: 1em;
  }
  #faqs i {
    z-index: 5;
    position: absolute;
    font-weight: 100 !important;
    color: #222;
  }
  #faqs .icon1 {
    float: right;
    top: -.5em;
    right: 80%;
  }
  #faqs .icon2 {
    float: right;
    top: -.5em;
    right: 30%;
  }
  #faqs .icon3 {
    float: right;
    top: .3em;
    right: 10%;
  }
  #faqs .accordion {
    cursor: pointer;
    border: none;
    padding: 1em;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: white !important;
    color: black !important;
    margin-left: 0;
  }
  #faqs .panel {
    font-size: .9em;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
    vertical-align: middle;
    padding: 0em 1em;
    margin-left: 3em;
  }
  #faqs .active + .panel {
    padding: 1em 1em 0em 1em;
  }
  #faqs .accordion::before {
    content: "+  ";
    font-size: 1em;
    color: black;
   }
  #faqs .active::before {
    content: "-  ";
   }

/* For devices with width less than 991 px */
@media only screen and (max-width: 991px) {
  .nav-item {
    font-size: 1.1rem;
  }

  .primary {
    margin-top: 4.5em;
  }
  .secondary {
    margin-left: 2em;
  }
  .logo {
    height: 130px;
    width: auto
  }
  .content {
    font-family: "Access Regular";
    margin-top: 2em;
    margin-left: 1.6em;
    font-size: 1.2rem;
  }
  .link-reg {
    margin-top: 2.5em;
    display: inline-block;
  }

  .link-mentor {
    margin-top: .5em;
    display: inline-block;
  }
  #faqs {
  font-family: "Access Regular";
  color: black;
  padding-bottom: 4em;
  padding-top: 1em;
  }
  #faqs i {
    z-index: 5;
    position: absolute;
    font-weight: 100 !important;
    color: #222;
  }
  #faqs .icon1 {
    float: right;
    top: -.5em;
    right: 80%;
  }
  #faqs .icon2 {
    float: right;
    top: -.5em;
    right: 30%;
  }
  #faqs .icon3 {
    float: right;
    top: .3em;
    right: 10%;
  }
  #faqs .accordion {
    cursor: pointer;
    border: none;
    padding: 1em;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: white !important;
    color: black !important;
    margin-left: 3.7em;
  }
  #faqs .panel {
    font-size: .9em;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
    vertical-align: middle;
    padding: 0em 1em;
    margin-left: 7.1em;
  }
  #faqs .active + .panel {
    padding: 1em 1em 0em 1em;
  }
  #faqs .accordion::before {
    content: "+  ";
    font-size: 1em;
    color: black;
   }
  #faqs .active::before {
    content: "-  ";
   }
}

/* For device with width less than 500 px */
@media only screen and (max-width: 500px) {
  .nav-item {
    font-size: 1rem;
  }

  .primary {
    margin-top: 5em;
  }
  .secondary {
    margin-left: .8em;
  }
  .logo {
    height: 100px;
    width: auto;
  }

  .content {
    font-family: "Access Regular";
    margin-top: 1.5em;
    margin-left: 1em;
    font-size: 1.1rem;
  }

  .link-reg {
    margin-top: 2.5em;
    display: inline-block;
  }

  .link-mentor {
    margin-top: .5em;
    display: inline-block;
  }
  #faqs {
  font-family: "Access Regular";
  color: black;
  padding-bottom: 4em;
  padding-top: 1em;
  }
  #faqs i {
    z-index: 5;
    position: absolute;
    font-weight: 100 !important;
    color: #222;
  }
  #faqs .icon1 {
    float: right;
    top: -.5em;
    right: 80%;
  }
  #faqs .icon2 {
    float: right;
    top: -.5em;
    right: 30%;
  }
  #faqs .icon3 {
    float: right;
    top: .3em;
    right: 10%;
  }
  #faqs .accordion {
    cursor: pointer;
    border: none;
    padding: 1em;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: white !important;
    color: black !important;
    margin-left: 2em;
  }
  #faqs .panel {
    font-size: .9em;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
    vertical-align: middle;
    padding: 0em 1em;
    margin-left: 3.75em;
  }
  #faqs .active + .panel {
    padding: 1em 1em 0em 1em;
  }
  #faqs .accordion::before {
    content: "+  ";
    font-size: 1em;
    color: black;
   }
  #faqs .active::before {
    content: "-  ";
   }
}
